<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Search Engine</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Search Engine</h1>
      <form action="/search" method="GET" class="mt-3">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            name="query"
          />
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>
